
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Roboto:ital,wght@1,700&display=swap');

body{
  font-family: 'Open Sans', sans-serif;
}
h1,h2,h4,h5,h6{
  font-family: 'Roboto', sans-serif;
}
.carousel-item img{
  height: 501px;
 }
.opacity{
  position: relative;
  z-index: 1;
}
.opacity::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: .5;
}
.courses_img{
  width: 178px;
  height: 129px;
}
}